{{#each stations}}
<div class="box box-link-hover-shadow">
  <h2 class="title">{{name}}</h2>
    <a class="button" href="/station/{{_id}}">
      <span class="icon"><i class="fa fa-file"></i></span>
    </a>
</div>
{{/each}}
