{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    Weathertop v.1
  </h3>
  <div class="section">
    <p>
      A Little Weather Station App - version 1.
    </p>
  </div>
</section>