{{> menu active="about"}}

<div class="columns is-vcentered">
  <div class="column is-half">
    <div>
      <p class="title has-text-centered">
        Weather App
      </p>
      <p class="has-text-centered">
        This app is the web companion app for the WeatherTop 1000 device,
        allowing you to view and add weather station readings.
      </p>
    </div>
  </div>
  <div class="column is-half tile">
      <figure class="image">
        <img src="/images/bluesky.jpg">
      </figure>
  </div>
</div>
