{{> menu active="dashboard"}}

<section>
  <h2 class="title has-text-left">
    {{user.firstName}}'s Stations:
  </h2>
  <p>Your stations are listed alphabetically below. The cards show the latest weather for each of your stations.</p>
</section>

<section class="section">
  {{> list-stations}}
  {{> add-station}}
</section>

<div id="map"></div>
<script>
  var map = L.map('map').setView([52.275563, -7.129494], 10); // Center map on Waterford

L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

{{#each stations}}
  L.marker([{{this.lat}}, {{this.long}}]).addTo(map)
    .bindPopup('{{this.name}}')
    .openPopup();
{{/each}}

</script>