{{> menu active="dashboard"}}

<section>
  <div class="columns">
    <div class="column is-half">
      <h2 class="title has-text-left">
        Welcome to Weathertop
      </h2>
      <p class="has-text-left">
        This is the companion app for the WeatherTop consumer weather station kits.<br>
        This app allows you to:
      </p>
      <ul>
        <li>View and add WeatherTop stations</li>
        <li>Quickly view and add readings to the stations</li>
      </ul>
      <br>
    </div>
    <div class="column is-half">
      <figure class="image">
        <img src="/images/weather-station.png" alt="weather station">
      </figure>
    </div>
  </div>
</section>

<section class="section">
  {{> list-stations}}
  {{> add-station}}
</section>
