{{> menu active="dashboard"}}

<section>
  <h2 class="title has-text-left">
    {{user.firstName}}'s Stations:
  </h2>
  <p>Your stations are listed alphabetically below. The cards show the latest weather for each of your stations.</p>
</section>

<section class="section">
  {{> list-stations}}
  {{> add-station}}
</section>

{{> map}}