{{> welcome-menu}}

<section>
  <div class="columns">
    <div class="column is-half">
      <h2 class="title has-text-left">
        <br>
        Welcome to Weathertop
      </h2>
      <p class="has-text-left">
        This is the companion app for the WeatherTop consumer weather station kits.
      </p>
      <p>
        Sign Up and Log In above to use the app.
      </p>
    </div>
    <div class="column is-half">
      <figure class="image">
        <br>
        <img src="/images/weather-station.png" alt="weather station">
      </figure>
    </div>
  </div>
</section>